/* box-sizing border box for all elements */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* clearfix for floated elements */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

html {
  overflow: auto;
}

body {
  background-color: #FFF;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: #000;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #666;
}
a:visited {
  color: #666;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
