.userItem__containerLink {
  text-decoration: none;
}
.userItem__containerLink:hover {
  text-decoration: none;
}
.userItem__container {
  cursor: pointer;
}
.userItem__container:hover {
  background: #EEE;
}