@import "~styles/includes.scss";


.page__wrapper {
  max-width: $contentWidth;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.page__header {
  text-align: center;
}